body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: #f0f2f5;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.25rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center;
    font-size: large;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50vh;
    display: inline-block;
}

.response-container {
    margin-top: 1rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.pre-container {
    text-align: center;
}
